@import url('/home/arch/.cache/wal/colors-waybar.css');


window {
  margin: 0px;
  border: 2px solid @color6;
  background: alpha(@background, .85);
  border-radius: 10px;
}

#input {
  margin: 5px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border-radius: 0px;

}

#inner-box {
  margin: 5px;
  border: none;
}

#outer-box {
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  border-radius: 10px;
}

#entry {
  border: none;
}

#entry:selected{
  font-weight: bold;
  border-radius: 5px;
  background-color: alpha(@color6, .85);
}

